<div class="row page-header">
  <h2>New journal</h2>
</div>

<div ng-show="newjournalForm.$submitted">
  <div class="alert alert-danger"
       ng-show="!newjournalForm.$valid">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Some fields are not filled properly.
  </div>
</div>

<form novalidate name="newjournalForm" class="form-horizontal" ng-submit="addJournal()">
  <div class="form-group">
    <label>Journal name</label>
    <label ng-show="newjournalForm.$submitted || newjournalForm.journalName.$touched">
      <fa name="exclamation-circle" ng-show="newjournalForm.journalName.$error.required" style="color: #a94442"
          data-toggle="tooltip" title="Required field">
      </fa>
    </label>
    <input required ng-model="newJournal.name" name="journalName" class="form-control">
  </div>

  <div class="form-group">
    <label>Consent to publish</label>
    <label ng-show="newjournalForm.$submitted || newjournalForm.consToPublish.$touched">
      <fa name="exclamation-circle" ng-show="newjournalForm.consToPublish.$error.required" style="color: #a94442"
          data-toggle="tooltip" title="Required field">
      </fa>
    </label>
    <textarea required ng-model="newJournal.consToPublish" name="consToPublish" ng-trim="false"
              class="form-control" style="resize: none" rows="15"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">Logo</label>
    <input id="input-1" type="file" class="file" ng-model="base64File" base-sixty-four-input/>
  </div>

  <button type="submit" class="btn btn-primary pull-right" data-toggle="tooltip"
          title="Confirm">
    <fa name="check"></fa>
  </button>
</form>





