<div class="panel panel-default">
  <div class="panel-heading">Papers</div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11">
          <ul class="list-group">
           <div class="list-group-item" ng-repeat="journal in journals">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <p>
                      <span>Name: </span><span>{{journal.name}}</span>
                    </p>
                    <p>
                      <span>Consent to publish: </span><span>{{journal.consentToPublish}}</span>
                    </p>
                    <p>
                      <span>Logo: </span><img data-ng-src="data:image/png;base64,{{journal.base64Logo}}"/>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <a href= "#/journal_details/{{journal.id}}">
                      <button type="button" class="btn btn-default"><fa name="eye"/></button>
                    </a>
                    <button type="button" class="btn btn-default" ng-click="remove({{journal.id}})"><fa name="trash"/></button>
                  </div>
                </div>
              </div>
           </div>
          </ul>
        </div>
        <div class="col-md-1">
          <a type="button" class="btn btn-default" href="#/new_journal">
            <fa name="plus"></fa>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
