<div class="row page-header">
  <h2>
    <img data-ng-src="data:image/png;base64,{{journal.base64Logo}}"/> {{journal.name}}
    <a type="button" class="btn btn-default pull-right" href="#/journals" data-toggle="tooltip"
       title="Back to journal list" style="margin-left: 2px">
      <fa name="angle-double-left"></fa>
    </a>
    <button type="button" class="btn btn-default pull-right" ng-click="" data-toggle="modal" data-target="#myModal"
            style="margin-left: 2px">
      <fa name="link"/>
    </button>
    <a type="button" class="btn btn-default pull-right" href="{{addingLink}}" data-toggle="tooltip"
       title="Add paper" style="margin-left: 2px">
      <fa name="file-o"></fa>
    </a>
  </h2>
</div>

<div class="row">
  <div ng-show="papers.length == 0">
    Paper list is empty.
  </div>
  <ul class="list-group">
    <div class="list-group-item" ng-repeat="paper in papers">
      <div class="container-fluid">
        <div class="row">
          {{paper.name}}
          <button type="button" class="btn btn-default pull-right" ng-click="deletePaper(paper.id)" data-toggle="tooltip"
                  title="Delete" style="margin-left: 2px"><fa name="trash"/></button>
          <button type="button" class="btn btn-default pull-right" ng-click="openPDF(paper.id)" data-toggle="tooltip" title="Export to pdf"
                  style="margin-left: 2px"><fa name="file-pdf-o"/></button>
          <button type="button" class="btn btn-default pull-right" data-toggle="tooltip" title="Details"
                  style="margin-left: 2px"><fa name="eye"/></button>
        </div>
      </div>
    </div>
  </ul>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Link to add new paper</h4>
      </div>
      <div class="modal-body">
        <p>{{addingLink}}</p>
      </div>
    </div>

  </div>
</div>
