<div class="page-header row">
  <h2>Journals
    <a type="button" class="btn btn-default pull-right" data-toggle="tooltip" title="New" href="#/new_journal">
      <fa name="plus"></fa>
    </a>
  </h2>
</div>

<div class="row">
  <div ng-show="journals.length == 0">
    Journal list is empty.<a type="button" class="btn btn-link" href="#/new_journal">Click here</a>to add new journal.
  </div>
  <ul class="list-group">
   <div class="list-group-item" ng-repeat="journal in journals">
      <div class="container-fluid">
        <div class="row">
          <img ng-if='journal.base64Logo !== "undefined"' data-ng-src="data:image/png;base64,{{journal.base64Logo}}" style="max-height:64px;max-width:64px;"/>
          <span>{{journal.name}}</span>
          <button type="button" class="btn btn-default pull-right" ng-click="openDeleteConfirmModal(journal)" data-toggle="tooltip"
                  title="Delete" style="margin-left: 2px">
            <fa name="trash"/>
          </button>
          <a href= "#/journal_details/{{journal.id}}">
            <button type="button" class="btn btn-default pull-right" data-toggle="tooltip" title="Details"
                    style="margin-left: 2px">
              <fa name="eye"/>
            </button>
          </a>
        </div>
      </div>
   </div>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteJournalConfirmModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete {{journal.name}}</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this journal?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <fa name="times"></fa> Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="remove(journal.id)">
          <fa name="check"></fa> OK
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
