<div class="row page-header">
  <div ng-if='journal.base64Logo !== "undefined"'>
    <img data-ng-src="data:image/png;base64,{{journal.base64Logo}}" style="max-height:128px;max-width:128px;" />
  </div>
  <div style="text-align:center;">
    <h4>{{journal.name}}</h4>
  </div>
</div>
<div ng-show="newpaperForm.$submitted">
  <div class="alert alert-danger"
       ng-show="!newpaperForm.$valid">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Some fields are not filled properly.
  </div>
</div>

<form novalidate name="newpaperForm" class="form-horizontal" ng-submit="addPaper()">
  <div class="form-group">
    <label>Paper title</label>
    <label ng-show="newpaperForm.$submitted || newpaperForm.paperName.$touched">
      <fa name="exclamation-circle" ng-show="newpaperForm.paperName.$error.required" style="color: #a94442"
          data-toggle="tooltip" title="Required field">
      </fa>
    </label>
    <input required ng-model="newPaper.name" class="form-control" name="paperName">
  </div>

  <div class="form-group">
    <label>Authors</label>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <th style="width:15%;"><small>Name</small></th>
            <th style="width:20%;"><small>Surname</small></th>
            <th style="width:15%;"><small>Affiliation</small></th>
            <th style="width:30%;"><small>Contribution to the paper</small></th>
            <th style="width:10%;"><small>Total contribution</small></th>
            <th style="widows:3%;"><small>Corresponding author</small></th>
            <th style="width:7%;"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="author in newPaper.authors">
            <td >
              <input ng-model="author.name" class="form-control">
            </td>
            <td>
              <input ng-model="author.surname" class="form-control">
            </td>
            <td>
              <input ng-model="author.affiliation" class="form-control">
            </td>
            <td>
              <input ng-model="author.contribution" class="form-control">
            </td>
            <td>
              <input ng-model="author.contributionValue" class="form-control">
            </td>
            <td>
              <input type="radio" name="correspondingAuthor" ng-model="author.corresponding" ng-value="true">
            </td>
            <td class="col-md-1">
              <button type="button" class="btn btn-default" ng-click="deleteAuthor($index)" data-toggle="tooltip"
                      title="Delete">
                <fa name="trash"></fa>
              </button>
            </td>

          </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-default" ng-click="addAuthor()" data-toggle="tooltip" title="Add">
          <fa name="plus"></fa>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Contact data of corresponding author</label>
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Street: </label>
        <label ng-show="newpaperForm.$submitted || newpaperForm.contactStreet.$touched">
          <fa name="exclamation-circle" ng-show="newpaperForm.contactStreet.$error.required" style="color: #a94442"
              data-toggle="tooltip" title="Required field">
          </fa>
        </label>
        <input ng-model="contactData.streetName" class="form-control" name="contactStreet" required/>
        <label>Street number: </label>
        <label ng-show="newpaperForm.$submitted || newpaperForm.contactStreetNumber.$touched">
          <fa name="exclamation-circle" ng-show="newpaperForm.contactStreetNumber.$error.required" style="color: #a94442"
              data-toggle="tooltip" title="Required field">
          </fa>
        </label>
        <input ng-model="contactData.streetNumber" class="form-control" name="contactStreetNumber" required/>
        <label>City: </label>
        <label ng-show="newpaperForm.$submitted || newpaperForm.contactCity.$touched">
          <fa name="exclamation-circle" ng-show="newpaperForm.contactCity.$error.required" style="color: #a94442"
              data-toggle="tooltip" title="Required field">
          </fa>
        </label>
        <input ng-model="contactData.city" class="form-control" name="contactCity" required/>
        <label>PostalCode: </label>
        <label ng-show="newpaperForm.$submitted || newpaperForm.contactPostalCode.$touched">
          <fa name="exclamation-circle" ng-show="newpaperForm.contactPostalCode.$error.required" style="color: #a94442"
              data-toggle="tooltip" title="Required field">
          </fa>
        </label>
        <input ng-model="contactData.postalCode" class="form-control" name="contactPostalCode" required/>
        <label>E-mail: </label>
        <label ng-show="newpaperForm.$submitted || newpaperForm.contactEmail.$touched">
          <fa name="exclamation-circle" ng-show="newpaperForm.contactEmail.$error.required" style="color: #a94442"
              data-toggle="tooltip" title="Required field">
          </fa>
          <fa name="exclamation-circle" ng-show="newpaperForm.contactEmail.$error.email" style="color: #a94442"
              data-toggle="tooltip" title="Not valid email">
          </fa>
        </label>
        <input type="email" ng-model="contactData.emailAddress" class="form-control" name="contactEmail" required/>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label>Financial disclosure</label>
    <label ng-show="newpaperForm.$submitted || newpaperForm.financialDisclosure.$touched">
      <fa name="exclamation-circle" ng-show="newpaperForm.financialDisclosure.$error.required" style="color: #a94442"
          data-toggle="tooltip" title="Required field">
      </fa>
    </label>
    <textarea required ng-model="newPaper.financialDisclosure" ng-trim="false"
              class="form-control" style="resize: none" rows="4" name="financialDisclosure"></textarea>

  </div>

  <div class="form-group">
    <label>Signature</label>
    <label ng-show="newpaperForm.$submitted || newpaperForm.signature.$touched">
      <fa name="exclamation-circle" ng-show="newpaperForm.signature.$error.required" style="color: #a94442"
          data-toggle="tooltip" title="Required field">
      </fa>
    </label>
    <input required ng-model="newPaper.signature" class="form-control" name="signature"/>
  </div>

  <button type="submit" ng-disabled="!newpaperForm.$valid" class="btn btn-primary pull-right" data-toggle="tooltip"
          title="Confirm">
    <fa name="check"></fa>
  </button>
</form>
