<div class="row page-header">
  <h4>
    <img data-ng-src="data:image/png;base64,{{journal.base64Logo}}"/> {{journal.name}}
  </h4>
  <h2>New paper</h2>
</div>

<form name="newpaperForm" class="form-horizontal" ng-submit="addPaper()">
  <div class="form-group">
    <label>Paper title</label>
    <input required ng-model="newPaper.name" class="form-control">
  </div>

  <div class="form-group">
    <label>Authors</label>
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Affiliation</th>
            <th>Contribution to the paper</th>
            <th>Total contribution</th>
            <th>Corresponding author</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="author in newPaper.authors">
            <td>
              <input ng-model="author.name" class="form-control">
            </td>
            <td>
              <input ng-model="author.surname" class="form-control">
            </td>
            <td>
              <input ng-model="author.affiliation" class="form-control">
            </td>
            <td>
              <input ng-model="author.contribution" class="form-control">
            </td>
            <td>
              <input ng-model="author.contributionValue" class="form-control">
            </td>
            <td>
              <input type="radio" name="correspondingAuthor" ng-model="author.corresponding" value="true">
            </td>
            <td>
              <button type="button" class="btn btn-default" ng-click="deleteAuthor($index)" data-toggle="tooltip"
                      title="Delete">
                <fa name="trash"></fa>
              </button>
            </td>

          </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-default" ng-click="addAuthor()" data-toggle="tooltip" title="Add">
          <fa name="plus"></fa>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Contact Data</label>
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Street: </label>
        <input ng-model="contactData.streetName" class="form-control"/>
        <label>Street number: </label>
        <input ng-model="contactData.streetNumber" class="form-control"/>
        <label>City: </label>
        <input ng-model="contactData.city" class="form-control"/>
        <label>PostalCode: </label>
        <input ng-model="contactData.postalCode" class="form-control"/>
        <label>E-mail: </label>
        <input ng-model="contactData.emailAddress" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Financial disclosure</label>
    <textarea required ng-model="newPaper.financialDisclosure" ng-trim="false"
              class="form-control" style="resize: none" rows="4"></textarea>
  </div>

  <div class="form-group">
    <label>Signature: </label>
    <input ng-model="newPaper.signature" class="form-control"/>
  </div>


  <button type="submit" ng-disabled="!newpaperForm.$valid" class="btn btn-primary pull-right" data-toggle="tooltip"
          title="Confirm">
    <fa name="check"></fa>
  </button>
</form>
